<section data-ng-controller="HomeController">

    <section id="featured-categories">
        <div class="row">
            <div ng-repeat="category in featuredCategories" class="col-xs-10 col-md-10 col-lg-10 featured-category">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-30 col-md-12 col-lg-12">
                            <img class="img-responsive" ng-src="{{category.imgUrl}}">
                        </div>
                        <div class="hidden-xs col-md-18 col-lg-18">
                            <div class="caption">
                                <p>{{category.description}}</p>
                            </div>
                        </div>
                        <span class="visible-lg-block glyphicon glyphicon-chevron-right go"></span>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="featured-video">
        <div video-tile="featuredVideo"></div>
    </section>
    <br>
    <br>
    <section id="filters">
			<div class="dropdown visible-xs-block">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			  </ul>
			</div>
		
        <ul class="list-inline hidden-xs">
            <li><em>Filter content by:</em></li>
            <li ng-repeat="filter in filters">{{filter.name}}</li>
        </ul>
    </section>
    <br>
    <section id="media-tiles">
        <div class="row">
            <div class="col-xs-30 col-lg-18 col-md-20">
                <div video-tile="videos[0]"></div>
            </div>
            <div class="col-xs-30 col-lg-12 col-md-10">
				<div class="row">
					<div class="col-xs-30 col-lg-15 col-md-20">
                        <div class="small" video-tile="videos[1]"></div>
                    </div>
					<div class="col-xs-30 col-lg-30 col-md-30">
                        <div class="medium" video-tile="videos[2]"></div>
                    </div>
				</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-30 col-lg-6">
                <div class="small" video-tile="videos[3]"></div>
            </div>

            <div class="col-xs-30 col-lg-12">
                <div class="medium" video-tile="videos[4]"></div>
            </div>

            <div class="col-xs-30 col-lg-6">
                <div class="row">
                    <div class="col-xs-30 col-lg-30">
                        <div class="small" video-tile="videos[5]"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-30 col-lg-30">
                        <div class="small" video-tile="videos[6]"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-30 col-lg-6">
                <div class="small" video-tile="videos[7]"></div>
            </div>
            <div class="col-xs-30 col-lg-6">
                <div class="row">
                    <div class="col-xs-30 col-lg-30">
                        <div class="small" video-tile="videos[8]"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-30 col-lg-30">
                        <div class="small" video-tile="videos[9]"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-30 col-lg-18">
                <div class="large" video-tile="videos[10]"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-30 col-lg-12">
                <div class="medium" video-tile="videos[11]"></div>
            </div>

            <div class="col-xs-30 col-lg-6">
                <div class="small" video-tile="videos[12]"></div>
            </div>
            <div class="col-xs-30 col-lg-12">
                <div class="medium" video-tile="videos[13]"></div>
            </div>
        </div>
    </section>
</section>
