<div class="imageAndText">
    <img ng-src="{{'https://i.vimeocdn.com/video/' + video.vimeo_pic_id + '_960x540.jpg'}}" width="100%" class="img-responsive">
    <div class="col">
        <span class="artist-name">{{video.artist}}</span>
        <br>
        <span class="video-name">{{video.name}}</span>

    </div>
    <div class="play-button">
        <span class="glyphicon glyphicon-play-circle"></span>
    </div>
</div>
