.imageAndText {
    position: relative;
    color: @video-text-color;
    cursor: pointer;
    .col {
        position: absolute;
        z-index: 1;
        left: 10px;
        bottom: 10%;
   }
   .play-button {
       position: absolute;
       z-index: 100;
       top: 40%;
       left: 45%;
       font-size: 5em;
       .glyphicon {
           cursor: pointer;
      }
      //  .play-button:hover {
      //      -webkit-transform: scale(1.25);
      //      -moz-transform: scale(1.25);
      //      -o-transform: scale(1.25);
      //      transform: scale(1.25);
      // }
 }
 .video-name {
     font-size: 3em;
     font-weight: bold;
}
.artist-name {
    font-size: 2em;
}
}
// REF: http://stackoverflow.com/a/22196760
.vertical-center {
    min-height: 100%;// Fallback for browsers do NOT support vh unit
    min-height: 100vh;// These two lines are counted as one :-)       *
    display: flex;
    align-items: center;
}
.featured-category {
    position: relative;
    .go {
        position: absolute;
        right: 10px;
        top: 35%;
        font-size: 1.5em;
   }
   .thumbnail {
       background-color: #EFEFEF;
  }
}
#media-tiles {
    .small {
        .imageAndText {
            .play-button {
                top: 30%;
                font-size: 2em;
           }
           .video-name {
               font-size: 1.25em;
          }
          .artist-name {
              font-size: 1em;
         }
    }
}
.medium {
    .imageAndText {
        .play-button {
            font-size: 3em;
       }
       .video-name {
           font-size: 2em;
      }
      .artist-name {
          font-size: 1.25em;
     }
}
}
.large {
    .imageAndText {
        .play-button {
            font-size: 4em;
       }
       .video-name {
           font-size: 2.5em;
      }
      .artist-name {
          font-size: 1.5em;
     }
}
}
}
// Navbar navbar-search-links-right
#navbar-search-links-right {
    position: absolute;
    right: 0px;
}
