// NOTE: Override bootstrap row mixin to add vertical-gutter
// padding between rows
// 
// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  margin-left:  (@gutter / -2);
  margin-right: (@gutter / -2);
  &:extend(.clearfix all);

  // adding vertical margin
  margin-top: (@gutter-vertical / 2);
  margin-bottom: (@gutter-vertical / 2);

}
