<section data-ng-controller="EditorsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Editors</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="editor in editors" data-ng-href="#!/editors/{{editor._id}}" class="list-group-item">
        <small class="list-group-item-text">
        Added on
        <span data-ng-bind="editor.created | date:'medium'"></span>
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="editor.email"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="editors.length">
        <a href="/#!/editors/create">Add another editor</a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!editors.$resolved || editors.length">
        No Editors yet, why don't you <a href="/#!/editors/create">create one</a>?
    </div>
</section>
