<section data-ng-controller="EditorsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="editor.email"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/editors/{{editor._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Added on
			<span data-ng-bind="editor.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
